@model IEnumerable<Meth_Data.Database.StudentInfo>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Title = "StudentList";
}

<h2>Students List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.First().UserName)
        </th>
        <th>
            @Html.DisplayName("number Of Courses")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(model => item.AspNetUsers.First().UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentCourses.Count)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
